html
  head
    title Bentokit
    link(rel='stylesheet', href='stylesheets/basic.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript', src='javascripts/framework.js')
    script(type='text/javascript', src='javascripts/indexJQuery.js')
    script(type='text/javascript', src='javascripts/editJQuery.js')
    script(type='text/javascript', src='javascripts/functions.js')
    link(href='http://fonts.googleapis.com/css?family=Exo:300,500', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    meta(name='handheldfriendly', content='true')
    meta(name='mobileoptimized', content='240')
    meta(name='viewport', content='width=device-width,initial-scale=1,target-densitydpi=device-dpi')
  script(type = 'text/javascript').
   checkUserType();
  body
    .container-fluid
     .row
      .col-sm-3.col-md-2.sidebar.editPageBar
        ul
          .box
           a(href='/')
            h1.logo Bentokit
         
          .box  
           p Curating only the best free online design tools.
         
          .box
            ul#filter.filters
              li
                h2 Filters
              li.current
                a.filter(href='#') All
          .box
            a(href='/suggest') Suggest an awesome app <br/>
            a(href='mailto:hi@appbookmark.co') Report a dead link
          
          .box
            p
              | Created by 
              a(href='https://twitter.com/taulantsulko') @taulantsulko 
              | and 
              a(href='https://twitter.com/BossLewis79') @BossLewis79
          #editDiv.box
            a(href='/edit') Edit Page
          
          form#loginForm(action="/login", method = "POST", name ="loginForm")
            .box
              label Username:
              input#username.form-control(type='text', name='username')
            .box
              label Password:
              input#password.form-control(type='password', name='password')
            .box
              button#loginButton(type='submit') Login 
          #logoutForm
            .box
              p
                | Logged in as &nbsp;
                label#usernameLabel 
                &nbsp;
            .box
              button#logoutButton(type='submit')  Logout 

      .col-sm-12.col-md-10.links.editPageLinks
        form.simple-form(method='POST', action='/insertApp', name ="userForm", enctype="multipart/form-data", novalidate='novalidate')
          h1 Add New Item
          table.table
            tr
              th App Name
              th Link
              th Image
              th Category 1
              th Category 2
              th
            tr
              td.col-sm-12.col-md-1
                input#nameInput.form-control(
                 ng-model='app.appname'
                 type='text'
                 name = "name"
                 required = "required"
                )
              td.col-sm-12.col-md-1
                input#linkInput.form-control(
                 type='text'
                 name = "link"
                 )
              td.col-sm-12.col-md-1
                input#imageInput(
                 type='file'
                 name = "image"
                )
              td.col-sm-12.col-md-1
                input#category1Input.form-control(
                 type='text'
                 name = "category1"
                 )
              td.col-sm-12.col-md-1
                input#category2Input.form-control(
                 type='text'
                 name = "category2"
                 )
              td.col-sm-12.col-md-1
                button(
                 type = "submit"
				) Add Item
        h1 Apps 
        table#linksTable.table
          tr
            th App Name
            th Link
            th Image
            th Category 1
            th Category 2
            th Rating
        h1 Pending Apps
        table#pendingLinksTable.table
          tr
            th App Name
            th Link
            th Image
            th Category 1
            th Category 2
            th User Added
            th Approve

        h1 Pending Users
        table#pendingUsersTable.table
          tr
            th Username
            th Reason
            th Suggested Apps
            th Approve

script(type = 'text/javascript').
 var clickFunc= function(event){
 if(event.target.alt.indexOf("google") != -1){
  var win=window.open(event.target.alt, '_blank');
  win.focus();
  return;
 }
 var f = document.createElement("form");
 f.setAttribute('method',"get");
 f.setAttribute('action',"/frame");
 var s = document.createElement("input"); //input element, Submit button
 s.setAttribute('type',"hidden");
 s.setAttribute('name',"user[link]");
 s.setAttribute('value',event.target.alt);
 f.appendChild(s);
 document.body.appendChild(f);
 f.submit();
 }
 var categoriesArray =!{JSON.stringify(categories)};
 var colors = putCategories(categoriesArray);

 var apps =!{JSON.stringify(myObj)};
 var table = document.getElementById("linksTable");
 
 for(i = 0; i < apps.length; i++) {
  var curApp = apps[i];
  var details = {};
  details['name'] = curApp.name, details['link'] =curApp.link, details['image'] = curApp.image,
  details['category1'] = curApp.c1, details['category2'] = curApp.c2, details['rating'] = curApp.rating;
  var newRow = document.createElement("TR");
  var className = curApp.id;
  newRow.setAttribute('id', className);
  for(var detail in details) {
   var newColumn = document.createElement("TD");
   var editField;
   /*if(detail == 'link' || detail == 'image') {
    editField = document.createElement("TEXTAREA");
    editField.innerHTML = details[detail];
   } else {*/
    editField = document.createElement("INPUT");
    editField.setAttribute('value', details[detail]);
   //}
   editField.setAttribute('class', className + " " + detail + " editField");
   editField.setAttribute('type', 'text');
   editField.setAttribute('disabled', 'disabled');
   
   if(detail == 'category1' || detail == 'category2' || detail == 'rating')
      newColumn.setAttribute('class', "category");
   else if(detail == 'link' || detail == 'image')
      newColumn.setAttribute('class', "linkColumn");
   newColumn.appendChild(editField);
   newRow.appendChild(newColumn);
  }
  var newColumn = document.createElement("TD");
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "editButton glyphicon glyphicon-edit");
  button.setAttribute('id', className);
  button.innerHTML = "&nbsp;";
  newColumn.appendChild(button);
  
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "removeAppButton glyphicon glyphicon-remove");
  button.setAttribute('id', className);
  button.innerHTML = "";
  newColumn.appendChild(button);
  
  newRow.appendChild(newColumn);
  table.appendChild(newRow);
 }
 apps =!{JSON.stringify(pending)};
 table = document.getElementById("pendingLinksTable");
 
 for(i=0;i<apps.length;i++){
  var curApp = apps[i];
  var details = {};
  details['name'] = curApp.name, details['link'] =curApp.link, details['image'] = curApp.image,
  details['category1'] = curApp.c1, details['category2'] = curApp.c2, details['user'] = curApp.user, details['id'] = curApp.id;
  var newRow = document.createElement("TR");
  for(var detail in details) {
   var newColumn = document.createElement("TD");
   newColumn.innerHTML = details[detail];
   if(detail == 'category1' || detail == 'category2' || detail == 'user')
    newColumn.setAttribute('class', "category");
  else if(detail == 'link' || detail == 'image')
    newColumn.setAttribute('class', "linkColumn");
   newRow.appendChild(newColumn);
  }
  var newColumn = document.createElement("TD");
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "approveButton glyphicon glyphicon-ok");
  button.setAttribute('id', details['id']);
  button.innerHTML = "&nbsp;";
  newColumn.appendChild(button);
  
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "removeButton glyphicon glyphicon-remove");
  button.setAttribute('id', details['id']);
  button.innerHTML = "";
  newColumn.appendChild(button);
  
  newRow.appendChild(newColumn);
  table.appendChild(newRow);
 }

 table = document.getElementById("pendingUsersTable");
 var pendingUsers =!{JSON.stringify(pendingUsers)}; 
 for (var i = 0; i < pendingUsers.length; i++) {
   var curUser = pendingUsers[i];
   var details = {};
   var newRow = document.createElement("TR");
   details['username'] = curUser.username, details['text'] = curUser.text;
   for (var detail in details) {
     var newColumn = document.createElement("TD");
     newColumn.innerHTML = details[detail];
     newRow.appendChild(newColumn);
   }
   var newColumn = document.createElement("TD");
   var button = document.createElement("A");
   button.setAttribute('href', "#");
   button.setAttribute('class', "approveUserButton glyphicon glyphicon-ok");
   button.setAttribute('id', details['username']);
   button.innerHTML = "&nbsp;";
   newColumn.appendChild(button);
   
   var button = document.createElement("A");
   button.setAttribute('href', "#");
   button.setAttribute('class', "disapproveUserButton glyphicon glyphicon-remove");
   button.setAttribute('id', details['username']);
   button.innerHTML = "";
   newColumn.appendChild(button);
   newRow.appendChild(newColumn);
   table.appendChild(newRow);
  }
 loginManager();
 function splitString(name) {
  return name.replace(/\s/g, "");
 }
