html
  head
    title Bentokit
    link(rel='stylesheet', href='stylesheets/basic.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript', src='javascripts/framework.js')
    script(type='text/javascript', src='javascripts/indexJQuery.js')
    script(type='text/javascript', src='javascripts/editJQuery.js')
    link(href='http://fonts.googleapis.com/css?family=Exo:300,500', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    meta(name='handheldfriendly', content='true')
    meta(name='mobileoptimized', content='240')
    meta(name='viewport', content='width=device-width,initial-scale=1,target-densitydpi=device-dpi')
  body
    .wrapper
      #editMenu.menu
        .fixed
          .box
            a(href='/')
              h1 Bentokit
            p Curating only the best free online design tools.
          .box
            ul#filter
              li
                h2 Filters
              li.current
                a.filter(href='#') All
                li
                  a.filter.html5-style(href='#') HTML5
                li
                  a.filter.css3-style(href='#') CSS3
                li
                  a.filter.jquery-style(href='#') jQuery
                li
                  a.filter.editor-style(href='#') Editor
                li
                  a.filter.typography-style(href='#') Typography
                li
                  a.filter.color-style(href='#') Color
                li
                  a.filter.design-style(href='#') Design
                li
                  a.filter.framework-style(href='#') Framework
                li
                  a.filter.cms-style(href='#') CMS
                li
                  a.filter.utility-style(href='#') Utility
                li
                  a.filter.animation-style(href='#') Animation
          .box
            a(href='mailto:hi@appbookmark.co') // Suggest an awesome app
            a(href='mailto:hi@appbookmark.co') // Report a dead link
          .box
            p
              | Created by
              a(href='https://twitter.com/taulantsulko') @taulantsulko
              | and
              a(href='https://twitter.com/BossLewis79') @BossLewis79
          #loginForm
            .box
              label Username:
              input#username(type='text', name='username')
            .box
              label Password:
              input#password(type='password', name='password')
            .box
              button#loginButton(type='submit')  Login 
          #logoutForm
            .box
              p
                | Logged in as
                label#usernameLabel
            .box
              button#logoutButton(type='submit')  Logout 
      .links
        form.simple-form(method='POST', action='/insertApp', name ="userForm", enctype="multipart/form-data", novalidate='novalidate')
          h1 Add New Item
          table.table
            tr
              th App Name
              th Link
              th Image
              th Category 1
              th Category 2
              th
            tr
              td.col-sm-12.col-md-1
                input#nameInput.form-control(
                 ng-model='app.appname'
                 type='text'
                 name = "name"
                 required = "required"
                )
              td.col-sm-12.col-md-1
                input#linkInput.form-control(
                 type='text'
                 name = "link"
                 )
              td.col-sm-12.col-md-1
                input#imageInput(
                 type='file'
                 name = "image"
                )
              td.col-sm-12.col-md-1
                input#category1Input.form-control(
                 type='text'
                 name = "category1"
                 )
              td.col-sm-12.col-md-1
                input#category2Input.form-control(
                 type='text'
                 name = "category2"
                 )
              td.col-sm-12.col-md-1
                button(
                 type = "submit"
				) Add Item
        h1 Apps 
        table#linksTable.table
          tr
            th App Name
            th Link
            th Image
            th Category 1
            th Category 2
            th Rating
        h1 Pending Apps
        table#pendingLinksTable.table
          tr
            th App Name
            th Link
            th Image
            th Category 1
            th Category 2
            th User Added
            th Approve
script(type = 'text/javascript').
 var clickFunc= function(event){
 if(event.target.alt.indexOf("google") != -1){
  var win=window.open(event.target.alt, '_blank');
  win.focus();
  return;
 }
 var f = document.createElement("form");
 f.setAttribute('method',"get");
 f.setAttribute('action',"/frame");
 var s = document.createElement("input"); //input element, Submit button
 s.setAttribute('type',"hidden");
 s.setAttribute('name',"user[link]");
 s.setAttribute('value',event.target.alt);
 f.appendChild(s);
 document.body.appendChild(f);
 f.submit();
 }
 var apps =!{JSON.stringify(myObj)};
 var table = document.getElementById("linksTable");
 
 for(i=0;i<apps.length;i++){
 var curApp = apps[i];
 var details = {};
 details['name'] = curApp.name, details['link'] =curApp.link, details['image'] = curApp.image,
 details['category1'] = curApp.c1, details['category2'] = curApp.c2, details['rating'] = curApp.rating;
 var newRow = document.createElement("TR");
 var className = details['link'].substring(7);
 newRow.setAttribute('class', className);
 for(var detail in details) {
 var newColumn = document.createElement("TD");
 newColumn.innerHTML = details[detail];
 if(detail == 'category1' || detail == 'category2' || detail == 'rating')
    newColumn.setAttribute('class', "category");
 newRow.appendChild(newColumn);
 }
 var newColumn = document.createElement("TD");
 var button = document.createElement("A");
 button.setAttribute('href', "#");
 button.setAttribute('class', "editButton glyphicon glyphicon-edit");
 button.setAttribute('id', details['link']);
 button.innerHTML = "&nbsp;";
 newColumn.appendChild(button);
 
 var button = document.createElement("A");
 button.setAttribute('href', "#");
 button.setAttribute('class', "removeAppButton glyphicon glyphicon-remove");
 button.setAttribute('id', details['link']);
 button.innerHTML = "";
 newColumn.appendChild(button);
 
 newRow.appendChild(newColumn);
 table.appendChild(newRow);
 }
 apps =!{JSON.stringify(pending)};
 table = document.getElementById("pendingLinksTable");
 
 for(i=0;i<apps.length;i++){
  var curApp = apps[i];
  var details = {};
  details['name'] = curApp.name, details['link'] =curApp.link, details['image'] = curApp.image,
  details['category1'] = curApp.c1, details['category2'] = curApp.c2, details['user'] = curApp.user;
  var newRow = document.createElement("TR");
  for(var detail in details) {
   var newColumn = document.createElement("TD");
   newColumn.innerHTML = details[detail];
   if(detail == 'category1' || detail == 'category2' || detail == 'user')
    newColumn.setAttribute('class', "category");
   newRow.appendChild(newColumn);
  }
  var newColumn = document.createElement("TD");
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "approveButton glyphicon glyphicon-ok");
  button.setAttribute('id', details['link']);
  button.innerHTML = "&nbsp;";
  newColumn.appendChild(button);
  
  var button = document.createElement("A");
  button.setAttribute('href', "#");
  button.setAttribute('class', "removeButton glyphicon glyphicon-remove");
  button.setAttribute('id', details['link']);
  button.innerHTML = "";
  newColumn.appendChild(button);
  
  newRow.appendChild(newColumn);
  table.appendChild(newRow);
 }
 
 var cookies = document.cookie.split(";");
 var loggedIn = false;
 var userName = "";
 for(var i = 0; i < cookies.length; i++) {
  var curCookie = cookies[i].split(',');
  for (var j = 0; j < curCookie.length; j++) {
   console.log('curCookie', curCookie[j]);
   if(curCookie[j].indexOf('loggedIn') != -1) {
    console.log("Logged in", curCookie[j]);
    if(curCookie[j].indexOf('true') != -1)
     loggedIn = true;
    }
    if(curCookie[j].indexOf('username') != -1 ) {
     userName = curCookie[j].split(':')[1];
    }
   }
 }
 var loginDiv = document.getElementById("loginForm");
 var logoutDiv = document.getElementById("logoutForm");
 var userLabel = document.getElementById("usernameLabel");			
 if(loggedIn) {
  loginDiv.style.display = "none";	
  logoutDiv.style.display = "block";	
  userLabel.innerHTML = userName;
 } else {
  loginDiv.style.display = "block";	
  logoutDiv.style.display = "none";	
  userLabel.innerHTML = "";
 }
