!!! 5
html
  head
    title Bentokit
    link(rel='stylesheet', href='stylesheets/basic.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/framescript.js')
    script(type='text/javascript', src='javascripts/functions.js')
    link(href='http://fonts.googleapis.com/css?family=Exo:300,500', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.ico')
    meta(name='handheldfriendly', content='true')
    meta(name='mobileoptimized', content='240')
    meta#locale(name='locale', content='#{frameSrc}')
    meta(name='viewport', content='width=device-width,initial-scale=1,target-densitydpi=device-dpi')
  body
    header
      input#frameSrc(type='hidden', value='#{frameSrc}')
      input#appName(type='hidden', value='#{curApp}')
      input#appRating(type='hidden', value='#{rating}')
      #book.header
        a(href='/')
          h1.logo Bentokit
        a#clickme(href='#')
          img.close(src='images/appbookmark-close.png', height='24px', alt='(X) Close')
   iframe#mainFrame(src='#{frameSrc}')
   
script(type='text/javascript').
 var appName = !{JSON.stringify(curApp)};
 var div = document.getElementById("book");
 var liked = checkLiked(appName);
 if(!liked) {
  var button = document.createElement("BUTTON");
  button.setAttribute("id", "rating");
  var t = document.createTextNode("Like This App");
  button.appendChild(t);
  div.appendChild(button);
 }
 resizeFrame();
 
