

<!DOCTYPE html><html>
<head>
<title>Bentokit</title>
<link rel="stylesheet" href="stylesheets/basic.css"/>
<link rel="stylesheet" href="stylesheets/frame.css"/>
<link rel="stylesheet" href="stylesheets/framestyle.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<link href='http://fonts.googleapis.com/css?family=Exo:300,500' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="images/favicon.ico"/>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="locale" id="locale" content="#{frameSrc}" />
<meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
</head>
<body>

<header>
<input id="frameSrc" type="hidden" value=#{frameSrc}>
<input id="appName" type="hidden" value="#{curApp}">
<input id="appRating" type="hidden" value="#{rating}">
<div class="header" id="book">
<a href="/" ><img src="images/appbookmark-logo-frame.png"  height="24px" alt="AppBookmark Logo"/></a>


<a href="#" id="clickme"><img src="images/appbookmark-close.png" class="close"  height="24px" alt="(X) Close"/></a>
<p class ="likes"> Likes #{rating}</p>

script(type='text/javascript')
	var cookies = document.cookie.split(";");
	var liked = false;
	var div = document.getElementById("book");
	var appName = !{JSON.stringify(curApp)};
	for (var i = 0; i < cookies.length; i++) {
		var curCookie = cookies[i].split(',');
		for (var j = 0; j < curCookie.length; j++) {
			console.log('curCookie', curCookie[j]);
			if(curCookie[j] == appName) {
				liked = true;
				break;
			}
		}
	}
	if(!liked) {
		var button = document.createElement("BUTTON");
		button.setAttribute("href", "");
		button.setAttribute("id", "rating");
		var t = document.createTextNode("Like This App");
		button.appendChild(t);
		div.appendChild(button);
	}

</div>

</header>
<iframe id="mainFrame" src="#{frameSrc}"></iframe>
</body>
</html>
<script type="text/javascript" src="javascripts/framescript.js"></script>
