!!! 5
html
  head
    title Bentokit
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript', src='javascripts/framework.js')
    script(type='text/javascript', src='javascripts/indexJQuery.js')
    script(type='text/javascript', src='javascripts/functions.js')
    script(type='text/javascript', src='javascripts/jquery.js')
    link(href='http://fonts.googleapis.com/css?family=Exo:300,500', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    meta(name='handheldfriendly', content='true')
    meta(name='mobileoptimized', content='240')
    meta(name='viewport', content='width=device-width,initial-scale=1,target-densitydpi=device-dpi')
  body
    .container-fluid
     .row
      .col-sm-3.col-md-2.sidebar.editPageBar
        ul
          .box.sidebarText 
           a(href='/')
            h1.logo Bentokit
          .box.sidebarText 
           p Curating only the best free online design tools.
         
          .box
            ul#filter.filters
              li
                h2 Filters
              li.current
                a.filter(href='#') All
          
          .box.sidebarText
            p
              | Created by 
              a(href='https://twitter.com/taulantsulko') @taulantsulko 
              a(href='https://twitter.com/BossLewis79') @BossLewis79 &nbsp;
              | and 
              a(href='https://twitter.com/borasabuncu') @borasabuncu
          
          #editDiv.box.sidebarText
            a(href='/edit') Edit Page
          #apply.box.sidebarText
            a(href='/apply') Apply to be a Moderator
          
          .box.sidebarText
            a(href='/suggest') Suggest an awesome app <br/>
            a(href='mailto:hi@appbookmark.co') Report a dead link

          form#loginForm.logForm(action="/login", method = "POST", name ="loginForm")
            .box
              label Username:
              input#username.form-control(type='text', name='username')
            .box
              label Password:
              input#password.form-control(type='password', name='password')
            .box
              button#loginButton(type='submit') Login
              button#signupButton(type="button", onclick="signupPage();") Signup 
          #logoutForm.logForm
            .box
              p
                | Logged in as &nbsp;
                label#usernameLabel 
                &nbsp;
            .box
              button#logoutButton(type='submit')  Logout 
      #menuDiv.col-sm-12.navbar.topbar()
         h1.logo.toplogo Bentokit
         a#menuButton.shown [Hide Menu]
      .col-sm-12.col-md-10.links
        ul#links

script(type = 'text/javascript').
 var clickFunc= function(event){
  if(event.target.alt.indexOf("google") != -1){
   var win=window.open(event.target.alt, '_blank');
   win.focus();
   return;
  }
  var f = document.createElement("form");
  f.setAttribute('method',"get");
  f.setAttribute('action',"/frame");
  var s = document.createElement("input"); //input element, Submit button
  s.setAttribute('type',"hidden");
  s.setAttribute('name',"user[link]");
  s.setAttribute('value',event.target.alt);
  f.appendChild(s);
  document.body.appendChild(f);
  f.submit();
 }
 var categoriesArray =!{JSON.stringify(categories)};
 var colors = putCategories(categoriesArray);

 var apps =!{JSON.stringify(myObj)};
 var ul = document.getElementById("links");
 for(i = 0; i < apps.length; i++){
  var newLi= document.createElement("LI");
  newLi.className = apps[i].c1+" "+ apps[i].c2;
  var newA = document.createElement("a");
  newA.setAttribute("class", "app");
  newA.setAttribute("id", apps[i].id);
  newA.setAttribute("href", apps[i].link);
  
  var newImage = new Image();
  newImage.alt=apps[i].link;
  newImage.src=apps[i].image;
  newImage.style.height="100px";
  newImage.style.height="100px";
  var newDiv= document.createElement('div');
  newDiv.className="center";
  newDiv.innerHTML= apps[i].name;
  newP1 = document.createElement('p');
  newP2 = document.createElement('p');
  
  var c1Color = colors[apps[i].c1], c2Color = colors[apps[i].c2];
  var style1 = "background-color: " + c1Color + ";";
  var style2 = "background-color: " + c2Color + ";";
  newP1.className="tag "+apps[i].c1+"-style";
  newP2.className="tag "+apps[i].c2+"-style";
  
  if(apps[i].c1 != null){
   if(c1Color != undefined)
    newP1.setAttribute('style', style1);
   var p1Text = document.createTextNode(apps[i].c1);
   newP1.appendChild(p1Text);
  }
  if(apps[i].c2 != null){
   if(c2Color != undefined)
    newP2.setAttribute('style', style2);
   var p2Text = document.createTextNode(apps[i].c2);
   newP2.appendChild(p2Text);
  }
  var liked = checkLiked(apps[i].name);
  if(!liked) {
   var button = document.createElement("A");
   button.setAttribute("href", "#");
   button.setAttribute("class", "glyphicon glyphicon-heart like-elements like-icon " + apps[i].id);
   button.setAttribute("id", apps[i].name);
   button.setAttribute("onclick", "like(" + '"' + apps[i].name + '"' + ");");
   button.innerHTML = "";
   newDiv.appendChild(button);
   
  }

  var t = document.createElement("label");
  t.setAttribute("class", "like-elements like-label "  + apps[i].id);
  t.setAttribute("id", apps[i].name);
  t.innerHTML = "" + apps[i].rating;
  newDiv.appendChild(t);

  newA.appendChild(newImage);
  newA.appendChild(newDiv);
  newLi.appendChild(newA);
  newLi.appendChild(newP1);
  newLi.appendChild(newP2);
  ul.appendChild(newLi);
 }
 loginManager();
 