!!! 5
html
 head
    title Bentokit
    link(rel='stylesheet', href='stylesheets/basic.css')
    link(href='http://fonts.googleapis.com/css?family=Exo:300,500', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src="http://code.angularjs.org/1.2.6/angular.js")
    script(src='javascripts/script.js')
    script(type='text/javascript', src='javascripts/functions.js')
    meta(name='handheldfriendly', content='true')
    meta(name='mobileoptimized', content='240')
    meta(name='viewport', content='width=device-width,initial-scale=1,target-densitydpi=device-dpi')
 
  body(ng-app='validationApp', ng-controller='mainController')
    .navbar.navbar-inverse.navbar-fixed-top.topbar()
      a(href='/')
       h1.logo.toplogo Bentokit
    .container.form-container() 
      form.simple-form(method='POST', action='/suggestApp', name ="userForm", enctype="multipart/form-data", novalidate='novalidate')
        input#usernameLabel(
         name = "usernameLabel"
         type = 'hidden'
         value = " "
        )
        .row
          .col-md-3
          .col-md-6.col-sm-12.form-group(ng-class="{'has-error' : userForm.name.$invalid && !userForm.name.$pristine}")
           h3.signupLabel App Name:
           input#appnameField.form-control(
            ng-model='app.appname'
            type='text'
            name = "name"
            required = "required" 
           )
           p.help-block(ng-show="userForm.name.$invalid && !userForm.name.$pristine") Please enter an app name
          .col-md-3
        .row
          .col-md-3
          .col-md-6.col-sm-12.form-group(ng-class="{'has-error' : userForm.link.$invalid && !userForm.link.$pristine}")
           h3.signupLabel Link:
           input#applinkField.form-control(
            ng-model='app.applink'
            type='text'
            name = "link"
            required = "required" 
           )
           p.help-block(ng-show="userForm.link.$invalid && !userForm.link.$pristine") Please enter an link
          .col-md-3
        .row
          .col-md-3
          .col-md-6.col-sm-12.form-group(ng-class="{'has-error' : userForm.image.$invalid && !userForm.image.$pristine}")
           h3.signupLabel Logo Image:
           input#appimageField.form-control(
            ng-model='app.appimage'
            type='file'
            name = "image"
           )p.help-block(ng-show="userForm.image.$invalid && !userForm.image.$pristine") Please add an image
          .col-md-3
        .row
          .col-md-3
          .col-md-6.col-sm-12.form-group
           h3.signupLabel Category 1:
           input#appcategory1Field.form-control(
            ng-model='app.category1'
            type='text'
            name = "category1"
           )
          .col-md-3
        .row
          .col-md-3
          .col-md-6.col-sm-12.form-group
           h3.signupLabel Category 2:
           input#appcategory2Field.form-control(
            ng-model='app.category2'
            type='text'
            name = "category2"
           )
          .col-md-3
        .row
          .col-md-3
          .col-md-6.col-sm-12
           button(
            type="submit"
            ng-disabled = "userForm.$invalid"
           ) Submit
          .col-md-3 
         
 script(type="text/javascript").
 
  var userDetails = getUserDetails();
  var loggedIn = userDetails['loggedIn'];
  var userLabel = document.getElementById("usernameLabel");
  if(loggedIn) {
   userLabel.value = userDetails['username'];
  } else {
   userLabel.innerHTML = "";
  }	 
 
